# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.cpp-*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Uncomment these types if you want even more clean repository. But be careful.
# It can make harm to an existing project source. Read explanations below.
#
# Resource files are binaries containing manifest, project icon and version info.
# They can not be viewed as text or compared by diff-tools. Consider replacing them with .rc files.
#*.res
#
# Type library file (binary). In old Delphi versions it should be stored.
# Since Delphi 2009 it is produced from .ridl file and can safely be ignored.
*.tlb
#
# Diagram Portfolio file. Used by the diagram editor up to Delphi 7.
# Uncomment this if you are not using diagrams or use newer Delphi version.
*.ddp
#
# Visual LiveBindings file. Added in Delphi XE2.
# Uncomment this if you are not using LiveBindings Designer.
*.vlb
#
# Deployment Manager configuration file for your project. Added in Delphi XE2.
# Uncomment this if it is not mobile development and you do not use remote debug feature.
*.deployproj
# 
# C++ object files produced when C/C++ Output file generation is configured.
# Uncomment this if you are not using external objects (zlib library for example).
#*.obj
#

# Delphi compiler-generated binaries (safe to delete)
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
*.dof
*.bin
*.lock

# tommygun plugins and libraries
*.ipi
*.cpi
*.tpi
Lib/
VCL/
Debug/
Release/
Binaries/


# Delphi autogenerated files (duplicated info)
*.cfg
*Resource.rc

# Delphi local files (user-specific info)
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.dsp
*.dsw
*.tmp
#pch.h

#incremental linker
*.ilc
*.ild
*.ilf
*.ils



# Delphi history and backups
__history/
__recovery/
*.~*
*.#*

# Castalia statistics file (since XE7 Castalia is distributed with Delphi)
*.stat
sh.exe.stackdump
*.Styles
*.$$$
=======

# Android/Java
*.lock
*.bin
Thumbs.db
tmp.i
=======
*.jar
*.ap_
manifest-*-report.txt
*.astinfo
*.astcache
AGDX Studio 10.3.eof
*.res
*.res
__astcache/*
*.res
*.groupproj
Launcher.pch.h
AGDx-Studio.cbproj
AGDx-Studio.cpp
Forms/fHidden.cpp
Forms/fHidden.dfm
Forms/fHidden.h
Deployment file.txt
*.old
AGDStudio.cbp*
AGDStudio.cpp
Install/Files/Compilers/ZX Spectrum/*
oldicon.ico
Installer/agdxstudio-installer-top.old.bmp
*/__astcache/*
Sort Projects.ps1
SortXML.ps1
*.d
*.o-*
backup/*
*.pdi
images/*
*.bak
*.tdl
